body {
background-color: #000;
font-family: "Segoe UI Emoji", "Segoe UI", Arial, sans-serif;
}

span.messageblock {
	display: inline-block;
	min-height: 12pt;
	font-size: 9pt;
	max-width: 75%;
	color: #fff;
	padding: 8px;
	border-radius: 9px;
	background-size: 1px 100%;
	background-repeat: x;
	background-color: #555;
}

p.chatElement {
	word-break: break-word;
	word-wrap: break-word;
	display:block;
	margin: 8px 4px 0px 4px;
}



p.sent span.messageblock {
		background-color: #1975ff !important;
}

span.messageblock a{
		color: #fff;
}

span.messageblock a:hover{
		color: #eef;
}

span.messageblock a:visited{
		color: #aaf;
}


p.sent {
		text-align: right;
}


p.passive span.messageblock{
	font-style: oblique;
	font-weight: bold;
	color: #999;
}

p.information span.messageblock{
	font-weight: bold;
	font-style: oblique;
	background-color: #498c4b !important;
	color: #fff;
}

p.critical span.messageblock{
	font-weight: bold;
	font-style: oblique;
	background-color: #ff4f4f !important;
	color: #fff;
}

p.warning span.messageblock{
	font-weight: bold;
	font-style: oblique;
	background-color: #ffca1c;
}

span.handle {
	font-weight: bold;
	color: maroon;
}

p.sent span.handle {
	font-weight: bold;
	color: #d1eeff;
}

a.disabledlink {
	color: gray;
 	text-decoration: line-through underline;
}

a#bottom{
	height: 10px;
	max-width: 100%;
}

